<% if @song && @song.errors.any? %>
  <div>
    <strong>Some issues with your song input, please fix them:</strong>
    <ul>
      <% @song.errors.full_messages.each do |song| %>
        <li><%= song %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form method="post" action="/songs">
  <div>
    <label>Artist:</label>
    <input type="text" name="artist" value="<%= @song.artist %>">
  </div>
  <div>
    <label>Title:</label>
    <input type="text" name="title" value="<%= @song.title %>">
  </div>
  <div>
    <label>URL:</label>
    <input type="text" name="url" value="<%= @song.url %>">
  </div>
  <div>
    <input type="submit" value="Submit" class = "btn">
  </div>
</form>